<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FaceGen - MAI-CI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://jdecid.github.io/MAI-CI-Project/">
            <strong>FaceGen</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">VAE</a>
            <a class="navbar-item">GAN</a>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <form action="/" method="get">
        <div class="columns is-vcentered">
            <span>Select Checkpoint:&nbsp;</span>
            <div class="select">
                <select>
                    {% for message in options %}
                    <option>{{message}}</option>
                    {% endfor %}
                </select>
            </div>
            &nbsp;
            <button class="button is-primary">Generate Image</button>
        </div>
    </form>
    <br>
    <div class="columns">
        {% for i in range(it) %}
        <div class="column">
            {% for j in range(it) %}
            <div>
                <img src="data:image/png;base64,{{img[i * it + j]}}">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>